<nav class="main-nav">
    <button class="nav-toggle" aria-label="Toggle navigation">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
    </button>
    <ul class="nav-menu">
        {% for item in site.navigation %}
            <li>
                <a href="{{ item.url }}" 
                   {% if page.url == item.url %} class="nav-link-active"{% endif %}>
                    {{ item.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>